footer {
  background-color: #6278f7;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

footer img {
  width: 10rem;
}

footer nav {
  display: flex;
  gap: 1rem;
}

footer nav img {
  width: 1rem;
}

footer p {
  color: white;
}
